@charset "utf-8";
.container header {
    background-color: #BAB8B8;
}
.container header nav {
    background-color: #BAB8B8;
}
.container #hero {
    background-image: url(images/6.png);
}
.container #about {
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,1.00) 59.07%,rgba(40,37,37,1.00) 94.82%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,1.00) 59.07%,rgba(40,37,37,1.00) 94.82%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,1.00) 59.07%,rgba(40,37,37,1.00) 94.82%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,1.00) 59.07%,rgba(40,37,37,1.00) 94.82%);
}
.container .banner {

}
